<h1>Pokedex</h1>
<h1> wow </h1>

<div class="wrapper">

</div>

<script id='pokedex-area' type="text/x-handlebars-template">
  <div class="card" data-id="{{id}}">
    <header class="content">
      <div class="pokemon-specie">
        {{ species }}
      </div>
    </header>
    <div class="pokemon-nickname">
      {{ nickname }}
    </div>
    <div class="pokemon-level">
      {{ level }}
    </div>
  </div>
</script>
