<h1>Pokedex#new</h1>

<form class="">
  <label for="">Species</label>
  <input type="text" name="species" value="">
  <label for="">Nickname</label>
  <input type="text" name="nickname" value="">
  <label for="">Level</label>
  <input type="number" name="" value="">
  <button type="button" name="button">Save</button>
</form>
